name: Build & Deploy Docs

permissions:
  contents: read       # 'read' is sufficient for checkout
  pages: write         # Required to deploy to Pages
  id-token: write      # Required to verify the deployment

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout main repo
        uses: actions/checkout@v4

      - name: Set up Conda
        uses: conda-incubator/setup-miniconda@v3
        with:
            activate-environment: vrui
            environment-file: environment.yml
            miniforge-version: latest
            auto-activate: false

      - name: Clone and stage external docs
        shell: bash -el {0}
        run: bash scripts/clone_docs.sh

      - name: Generate mkdocs.yml
        shell: bash -el {0}
        run: python scripts/generate_mkdocs.py

      - name: Build MkDocs
        shell: bash -el {0}
        run: mkdocs build --config-file mkdocs.generated.yml

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'site'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4